# 🛠️ Services

[⬅️ К оглавлению][backlink-index]

Индекс спецификаций сервисов проекта {{PROJECT_NAME}}.

---

## 📋 Список сервисов

| Сервис | Описание | Спецификация |
| :----- | :------- | :----------- |

---

[backlink-index]: ../INDEX.md
